body {
  font-family: "Titillium Web", sans-serif;
  background: #191B28;
}

.roulette-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
}

.roulette-wrapper .selector {
  width: 3px;
  background: grey;
  left: 50%;
  height: 100%;
  transform: translate(-50%, 0%);
  position: absolute;
  z-index: 2;
}

.roulette-wrapper .wheel {
  display: flex;
}

.roulette-wrapper .wheel .row {
  display: flex;
}

.roulette-wrapper .wheel .row .card {
  height: 75px;
  width: 75px;
  margin: 0 3px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  overflow: hidden;
  position: relative;
}
.roulette-wrapper .wheel .row .card svg {
  position: absolute;
  inset: 0;
  width: 75px;
  height: 75px;
}
.roulette-wrapper .wheel .row .card img {
  position: absolute;
  inset: 0;
  width: 75px;
  height: 75px;
}

.card.red {
  background: #F95146;
}

.card.black {
  background: #2D3035;
}

.card.green {
  background: #00C74D;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  color: #fff;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  text-align: center;
}

h1 {
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  text-align: center;
}

h4 {
  text-align: center;
  color: #fff;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrapper img {
  width: calc(100% - 30px);
}

button {
  width: 120px;
  height: 28px;
  border-radius: 3px;
  background: #f95146;
  FONT-WEIGHT: 500;
  color: #fff;
  border: 0;
  margin: 37px auto;
  font-size: 14px;
}

@-webkit-keyframes animacao {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes animacao {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.rodape {
  -webkit-animation: animacao 10s linear infinite;
          animation: animacao 10s linear infinite;
  color: #fff;
}